community-plugins.json
workspace.json
workspace-mobile.json
.obsidian/icons
scanned_words.txt
export

.stversions

# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections

# Ignore pdfs and docx and other files, they are synced separately
*.pdf
*.doc
*.docx
*.pptx
*.ppt
*.odt
*.odp
*.ods
*.odg
**/Extra
*_ng_*
/uni/Computer networks/GNS3

# Some stuff from web labs
*.webm
*.mp4
*.mp3
*.ogg
*.aac
*.ogv
*.wav
*.vtt

*.webp
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.tiff
*.gif
*.psd

# Obsidian wasm plugin data
*.wasm

python_venv
venv
