/.obsidian/community-plugins.json
/.obsidian/workspace.json
/.obsidian/workspace-mobile.json
/.obsidian/icons
/.obsidian/plugins/obsidian-completr/scanned_words.txt
/.stversions
*.wasm
**/python_venv
**/venv
**/.venv
**/__pycache__
*.pyc
*.tmp
*.pdf
*.doc
*.docx
*.pptx
*.xlsx
*.ppt
*.odt
*.odp
*.ods
*.odg
*.mpp
*.webm
*.mp4
*.mp3
*.ogg
*.aac
*.ogv
*.wav
*.vtt
*.webp
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.tiff
*.gif
*.psd
**/Extra
*_ng_*
*.gz
/uni/Computer\ networks/GNS3
/LaTeX\ docs