:root{
    --main-border-color: gray;
}

.card {
    display: grid;
    grid-template-columns: 30% 70%;
    border-radius: 5px;
    border: 1px solid var(--main-border-color);
    padding: 5px;
}

.card img {
    width: 20%;
    margin: auto 0;
    justify-content: center;
    width: 100%;
}

.card_content {
    margin-left: 2px;
}

.card_content h2 {
    margin-top: 0;
}

.card_content span {
    font-size: 1.3rem
}

.card+.card {
    margin-top: 5px
}