/*
Name:: 8 + 8 highlight colors
Author:: @steve_yang331
version:: 0.0.1
Date:: 2021-1-5
Download::
https://github.com/steveyang331/Obsidian-css/

How to use highlight code syntax:ï¼š
    #c/COLOR_name
    
    Highlighted text background , 
    Highlighted bold text ,
    Highlighted italic . 

    #c/pink ==pink==

    #c/pink **pink**

    #c/pink _pink_
 
*/


/* ---------------- 8 + 8 colors -----------------*/

/* 8 pairs base colors 

.white   rgb(255,255,255)	
.black   rgb(0,0,0)    
  
.red     var(--g-color-light-red)
.aqua    var(--g-color-light-cyan)

.fuchsia rgb(255,0,255) .pink
.green   var(--g-color-light-green)

.yellow  var(--g-color-light-yellow)
.blue    var(--g-color-light-blue)

/* 8 pairs middle colors  

white/2     = .gray    rgb(128,128,128)
white*(3/4) = .silver  rgb(192,192,192)

red/2       = .maroon  rgb(128,0,0)
aqua/2      = .teal    rgb(0,128,128)

fushsia/2   = .purple  var(--g-color-light-purple)
green/2     = .lime    var(--g-color-light-green)

yellow/2    = .olive   var(--g-color-green)
blue/2      = .navy    rgb(0,0,128)

*/

/* WYSIWYG Editor modef for highlight colors */


/* Toggle highlight,strong,italic symbols 
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-strong,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-em,
*/
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-formatting-highlight,
/* Toggle highlight colors*/
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hwhite,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hblack,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hred,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-haqua,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hfuchsia,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hpink,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hgreen,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hyellow,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hblue,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hgray,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hsilver,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hmaroon,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hteal,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hpurple,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hlime,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-holive,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hwhite,
div:not(.CodeMirror-activeline) > .CodeMirror-line span.cm-tag-hnavy
{
    display: none !important;
    position: relative;
}


/* Editor mode  */
.cm-hashtag ~ span.cm-highlight {
    color: white !important; /* change this color to white or black or others for light or Dark Theme */
    border-radius: 5px;
    padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}


/* -- white --  */
.cm-tag-hwhite ~ span.cm-highlight {
	background-color: rgb(255,255,255) !important;
    color: black !important;
}

.cm-tag-hwhite ~ span.cm-strong {
	color: rgb(255,255,255);
}

.cm-tag-hwhite ~ span.cm-em {
	color: rgb(255,255,255);
}

/* -- black --  */
.cm-tag-hblack ~ span.cm-highlight{
	background-color: rgb(0,0,0)!important;
    color: white !important;
}

.cm-tag-hblack ~ span.cm-strong {
	color: rgb(0,0,0);
}

.cm-tag-hblack ~ span.cm-em {
	color: rgb(0,0,0);
}

/* -- red --  */
.cm-tag-hred ~ span.cm-highlight{
	background-color: var(--g-color-light-red) !important;
}

.cm-tag-hred ~ span.cm-strong {
	color: var(--g-color-light-red);
}

.cm-tag-hred ~ span.cm-em {
	color: var(--g-color-light-red);
}

/* -- aqua --  */
.cm-tag-haqua ~ span.cm-highlight{
	background-color: var(--g-color-light-cyan)!important;
}

.cm-tag-haqua ~ span.cm-strong {
	color: var(--g-color-light-cyan);
}

.cm-tag-haqua ~ span.cm-em {
	color: var(--g-color-light-cyan);
}

/* -- fuchsia --  */
.cm-tag-hfuchsia ~ span.cm-highlight{
	background-color: rgb(255,0,255)!important;
}

.cm-tag-hfuchsia ~ span.cm-strong {
	color: rgb(255,0,255);
}

.cm-tag-hfuchsia ~ span.cm-em {
	color: rgb(255,0,255);
}


/* -- pink --  */
.cm-tag-hpink ~ span.cm-highlight{
	background-color: rgb(255,0,255)!important;
}

.cm-tag-hpink ~ span.cm-strong {
	color: rgb(255,0,255);
}

.cm-tag-hpink ~ span.cm-em {
	color: rgb(255,0,255);
}

/* -- green --  */
.cm-tag-hgreen ~ span.cm-highlight{
	background-color: var(--g-color-light-green)!important;
}

.cm-tag-hgreen ~ span.cm-strong {
	color: var(--g-color-light-green);
}

.cm-tag-hgreen ~ span.cm-em {
	color: var(--g-color-light-green);
}

/* -- yellow --  */
.cm-tag-hyellow ~ span.cm-highlight{
	background-color: var(--g-color-light-yellow) !important;
    color: black !important;
}

.cm-tag-hyellow ~ span.cm-strong {
	color: var(--g-color-light-yellow) ;
}

.cm-tag-hyellow ~ span.cm-em {
	color: var(--g-color-light-yellow) ;
}


/* -- blue --  */
.cm-tag-hblue ~ span.cm-highlight{
	background-color: var(--g-color-light-blue) !important;
}

.cm-tag-hblue ~ span.cm-strong {
	color: var(--g-color-light-blue);
}

.cm-tag-hblue ~ span.cm-em {
	color: var(--g-color-light-blue);
}


/* -- gray --  */
.cm-tag-hgray ~ span.cm-highlight{
	background-color: rgb(128,128,128) !important;
}

.cm-tag-hgray ~ span.cm-strong {
	color: rgb(128,128,128);
}

.cm-tag-hgray ~ span.cm-em {
	color: rgb(128,128,128);
}

/* -- silver --  */
.cm-tag-hsilver ~ span.cm-highlight{
	background-color: rgb(192,192,192) !important;
}

.cm-tag-hsilver ~ span.cm-strong {
	color: rgb(192,192,192);
}

.cm-tag-hsilver ~ span.cm-em {
	color: rgb(192,192,192);
}

/* -- maroon --  */
.cm-tag-hmaroon ~ span.cm-highlight{
	background-color: rgb(128,0,0) !important;
}

.cm-tag-hmaroon ~ span.cm-strong {
	color: rgb(128,0,0);
}

.cm-tag-hmaroon ~ span.cm-em {
	color: rgb(128,0,0);
}

/* -- teal --  */
.cm-tag-hteal ~ span.cm-highlight{
	background-color: rgb(0,128,128)!important;
}

.cm-tag-hteal ~ span.cm-strong {
	color: rgb(0,128,128);
}

.cm-tag-hteal ~ span.cm-em {
	color: rgb(0,128,128);
}

/* -- teal --  */
.cm-tag-hpurple ~ span.cm-highlight{
	background-color: var(--g-color-light-purple)!important;
}

.cm-tag-hpurple ~ span.cm-strong {
	color: var(--g-color-light-purple);
}

.cm-tag-hpurple ~ span.cm-em {
	color: var(--g-color-light-purple);
}

/* -- lime --  */
.cm-tag-hlime ~ span.cm-highlight{
	background-color: var(--g-color-light-green)!important;
}

.cm-tag-hlime ~ span.cm-strong {
	color: var(--g-color-light-green);
}

.cm-tag-hlime ~ span.cm-em {
	color: var(--g-color-light-green);
}

/* -- olive --  */
.cm-tag-holive ~ span.cm-highlight{
	background-color: var(--g-color-green)!important;
}

.cm-tag-holive ~ span.cm-strong {
	color: var(--g-color-green);
}

.cm-tag-holive ~ span.cm-em {
	color: var(--g-color-green);
}

/* -- navy --  */
.cm-tag-hnavy ~ span.cm-highlight{
	background-color: rgb(0,0,128)!important;
}

.cm-tag-hnavy ~ span.cm-strong {
	color: rgb(0,0,128);
}

.cm-tag-hnavy ~ span.cm-em {
	color: rgb(0,0,128);
}


/*----------------------- Preview mode ------------------------ */

a[href^="#c/"]{
    display:none !important;  
}


a[href^="#c/"] + mark {
    color: white !important; /* change this color to white or black or others for light or Dark Theme */
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
	font-weight: bold;
}

/* -- white --  */
a[href^="#c/white"] + mark {
	background-color: rgb(255,255,255) !important;
    color: black !important;
}

a[href^="#c/white"] + strong {
	color: rgb(255,255,255);
}

a[href^="#c/white"] + em {
	color: rgb(255,255,255);
}

/* -- black --  */
a[href^="#c/black"] + mark {
	background-color: rgb(0,0,0)!important;
}

a[href^="#c/black"] + strong {
	color: rgb(0,0,0);
}

a[href^="#c/black"] + em {
	color: rgb(0,0,0);
}

/* -- red --  */
a[href^="#c/red"] + mark {
	background-color: var(--g-color-light-red) !important;
}

a[href^="#c/red"] + strong {
	color: var(--g-color-light-red);
}

a[href^="#c/red"] + em {
	color: var(--g-color-light-red);
}

/* -- aqua --  */
a[href^="#c/aqua"] + mark {
	background-color: var(--g-color-light-cyan) !important;
}

a[href^="#c/aqua"] + strong {
	color: var(--g-color-light-cyan);
}

a[href^="#c/aqua"] + em {
	color: var(--g-color-light-cyan);
}

/* -- fuchsia --  */
a[href^="#c/fuchsia"] + mark {
	background-color: rgb(255,0,255) !important;
}

a[href^="#c/fuchsia"] + strong {
	color: rgb(255,0,255);
}

a[href^="#c/fuchsia"] + em {
	color: rgb(255,0,255);
}


/* -- pink --  */
a[href^="#c/pink"] + mark {
	background-color: rgb(255,0,255)!important;
}

a[href^="#c/pink"] + strong {
	color: rgb(255,0,255);
}

a[href^="#c/pink"] + em {
	color: rgb(255,0,255);
}

/* -- green --  */
a[href^="#c/green"] + mark {
	background-color: var(--g-color-light-green) !important;
}

a[href^="#c/green"] + strong {
	color: var(--g-color-light-green);
}

a[href^="#c/green"] + em {
	color: var(--g-color-light-green);
}

/* -- yellow --  */
a[href^="#c/yellow"] + mark {
	background-color: var(--g-color-light-yellow) !important;
    color: black !important;
}

a[href^="#c/yellow"] + strong {
	color: var(--g-color-light-yellow);
}

a[href^="#c/yellow"] + em {
	color: var(--g-color-light-yellow);
}


/* -- blue --  */
a[href^="#c/blue"] + mark {
	background-color: var(--g-color-light-blue) !important;
}

a[href^="#c/blue"] + strong {
	color: var(--g-color-light-blue);
}

a[href^="#c/blue"] + em {
	color: var(--g-color-light-blue);
}


/* -- gray --  */
a[href^="#c/gray"] + mark {
	background-color: rgb(128,128,128) !important;
}

a[href^="#c/gray"] + strong {
	color: rgb(128,128,128);
}

a[href^="#c/gray"] + em {
	color: rgb(128,128,128);
}

/* -- silver --  */
a[href^="#c/silver"] + mark {
	background-color: rgb(192,192,192) !important;
}

a[href^="#c/silver"] + strong {
	color: rgb(192,192,192);
}

a[href^="#c/silver"] + em {
	color: rgb(192,192,192);
}

/* -- maroon --  */
a[href^="#c/maroon"] + mark {
	background-color: rgb(128,0,0) !important;
}

a[href^="#c/maroon"] + strong {
	color: rgb(128,0,0);
}

a[href^="#c/maroon"] + em {
	color: rgb(128,0,0);
}

/* -- teal --  */
a[href^="#c/teal"] + mark {
	background-color: rgb(0,128,128)!important;
}

a[href^="#c/teal"] + strong {
	color: rgb(0,128,128);
}

a[href^="#c/teal"] + em {
	color: rgb(0,128,128);
}

/* -- teal --  */
a[href^="#c/purple"] + mark {
	background-color: var(--g-color-light-purple)!important;
}

a[href^="#c/purple"] + strong {
	color: var(--g-color-light-purple);
}

a[href^="#c/purple"] + em {
	color: var(--g-color-light-purple);
}

/* -- lime --  */
a[href^="#c/lime"] + mark {
	background-color: var(--g-color-light-green)!important;
}

a[href^="#c/lime"] + strong {
	color: var(--g-color-light-green);
}

a[href^="#c/lime"] + em {
	color: var(--g-color-light-green);
}

/* -- olive --  */
a[href^="#c/olive"] + mark {
	background-color: var(--g-color-green)!important;
}

a[href^="#c/olive"] + strong {
	color: var(--g-color-green);
}

a[href^="#c/olive"] + em {
	color: var(--g-color-green);
}

/* -- navy --  */
a[href^="#c/navy"] + mark {
	background-color: rgb(0,0,128)!important;
}

a[href^="#c/navy"] + strong {
	color: rgb(0,0,128);
}

a[href^="#c/navy"] + em {
	color: rgb(0,0,128);
}


