.kanban-plugin__board > div {
  flex-wrap: wrap;
  align-items: stretch;
}
.kanban-plugin__scroll-container.kanban-plugin__horizontal {
  overflow-y: auto;
}
.kanban-plugin__lane {
  max-height: 500px;
}
.kanban-plugin__lane-wrapper {
  margin-bottom: 10px;
  width: 30%;
}
