body {
    margin: 0px;
}

.background {
    position: absolute;
    height: 400px;
    width: 600px;
    top: 0px;
    left: 0px;
}

.planet1 {
    position: relative;
    top: 23px;
    left: 180px;
}

.planet2 {
    position: absolute;
    top: 65px;
    left: 50px;
}

.planet3 {
    position: absolute;
    top: 140px;
    left: 140px;
}

table{
    position: relative;
    z-index: 5;
}

.button {
    background: #ADADAD;
    color: #000000;
    font-size: 1rem;
    border: 0.3em outset #e9dfc5;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 0.5em;
    box-shadow: 0 0 3px gray;
    position: relative;
    left: 150px;
}

.button:hover {
    color: rgb(58, 32, 32);
    border: 0.3em outset #fff6de;
}

.button:active {
    color: #470000;
    border: 0.3em inset #fff6de;
}
