
body {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 20%;
    width: 100%;
    border: 1px solid;
}

aside {
    width: 50%;
    height: 60%;
    border: 1px solid;
    flex: 1 1 0%;
}

main {
    height: 60%;
    width: 50%;
    border: 1px solid;
    flex: 1 1 0%;
}

footer {
    height: 20%;
    width: 100%;
    border: 1px solid;
}