#text1{
    text-decoration: underline blue wavy;
}

#text2{
    text-decoration: underline pink dotted;
}

#text3{
    text-decoration: underline green dashed;
}

#text4{
    text-decoration: underline red double;
}